/* remove px */
:root {
  --padding-top: 20vh;
  --padding-left: 6vw;
  --padding-width: max(4vw, 1.5rem);
  --padding: min(4vw, 1.5rem);

  --fs-500: clamp(0.75rem, 2vw, 1rem);
  --fs-700: clamp(3rem, 8vw, 8rem);
  --fs-900: clamp(4rem, 10vw, 12rem);
  --lh-900: clamp(3rem, 8vw, 10rem);

  --gap-500: 0.25rem;
  --gap-900: 1rem;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  color: #fff;
  font: inherit;
}

body {
  background-color: #000;
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
}

.flex {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.logo {
  letter-spacing: var(--gap-500);
  font-weight: 500;
}

.container {
  padding: 0px var(--padding-width);
}

a {
  text-decoration: none;
  display: inline-block;
}

h1 {
  font-weight: 500;
  font-size: var(--fs-900);
  line-height: var(--lh-900);
  opacity: 0.5;
}

h2 {
  font-size: var(--fs-700);
  font-weight: 500;
  opacity: 0.8;
}

h3 {
  font-size: var(--fs-500);
}

h5 {
  opacity: 0.5;
}

img {
  object-fit: cover;
}

nav {
  position: fixed;
  top: 0px;
  padding: var(--padding) var(--padding-width);
  background-color: #000;
  z-index: 1;
}

#hero {
  position: relative;
  height: 100vh;
  padding-top: var(--padding-top);

  .blocktext {
    width: fit-content;

    h1 {
      padding-left: var(--padding-left);
    }

    h3 {
      padding-top: var(--gap-500);
      text-align: right;
    }
  }

  .available {
    padding-top: var(--padding-top);
    text-align: right;
  }

  .footer {
    position: absolute;
    bottom: var(--padding);
    gap: var(--gap-900);
  }
}

#products {
  padding: var(--padding-top) 0px;
}

.element {
  border-top: 2px solid #888;
  position: relative;

  * {
    padding: calc(var(--padding) * 1.5) 0px;
  }

  &:nth-child(3) {
    border-bottom: 2px solid #888;
  }

  img {
    display: none;
    z-index: 1;
    width: 20%;
  }
}

.about {
  justify-content: center;
  padding-left: max(20vw);
  gap: calc(var(--padding) * 4);

  img {
    width: max(12vw, 10rem);
  }

  p {
    max-width: 40rem;
    text-transform: initial;
    padding-bottom: var(--padding);
  }

  a {
    padding: var(--gap-500) var(--gap-900);
    border-radius: var(--gap-900);
    border: 1px solid #888;
  }
}

.youtube {
  padding-block: var(--padding-top);
}

.socials a {
  padding: 0px var(--gap-900) var(--gap-500) 0px;
}

@media (max-width: 768px) {
  .about {
    flex-direction: column;
    padding-left: 0rem;
  }
}
