:root {
  --padding-top: 128px;
  --padding-left: 210px;
  --padding-width: max(4vw, 24px);
  --padding: 24px;

  --lh-900: 9rem;
  --fs-900: 12rem;

  --gap-500: 4px;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  color: #ffffff;
  font: inherit;
}

body {
  background-color: #000000;
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
}

.flex {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.logo {
  letter-spacing: var(--gap-500);
  font-weight: 500;
}

.container {
  padding: 0px var(--padding-width);
}

a {
  text-decoration: none;
}

nav {
  position: fixed;
  top: 0px;
  padding: 24px var(--padding-width);
}

#hero {
  position: relative;
  height: 100vh;
  padding-top: var(--padding-top);
}

#heading h1 {
  font-weight: 500;
  font-size: var(--fs-900);
  line-height: var(--lh-900);
  opacity: 0.5;
}

.blocktext {
  width: fit-content;
}

.blocktext h1 {
  padding-left: var(--padding-left);
}

.blocktext h5 {
  padding-top: var(--gap-500);
  text-align: right;
}

.available {
  padding-top: var(--padding-top);
  text-align: right;
}

#hero .footer {
  position: absolute;
  bottom: var(--gap-500);
  padding: var(--padding) 0px;
}
